.sendMessageContainer {
  background-color: #0a0a0a;
  display: grid;
  grid-template-columns: 75% 25%;
}

.sendMessageInput {
  width: 100%;
  outline: none;
  border: none;
  border-top: 1px solid #999999;
}

.sendButton {
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
}
