.sendMessageContainer {
  padding: 25px 30px;
}

.inputHolder {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 100%;
}

.sendMessageInput {
  width: 100%;
  outline: none;
  border: none;
  background: #dedede;
  padding-left: 20px;
  font-size: 14px;
  color: #1A1A1D;
  border-radius: 10px 0 0 10px;
  overflow: scroll;
}

.sendMessageInput:placeholder {
  color: #303C4A;
}

.sendButton {
  background: #2979FF;
  color: #ffffff;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease-in;
}

.sendButton:hover {
  background: #2158b5;
}
