.messageBox {
  margin: 10px 20px;
  padding: 0 20px;
  padding-bottom: 10px;
  background-color: #2979FF;
  width: auto;
  max-width: 60%;
  border-radius: 40px 10px 10px 0;
  color: #ffffff;
  display: table;
  clear: both;
}

.mbRight {
  background-color: #1A1A1D;
  color: #ffffff;
  float: right;
  border-radius: 10px 10px 0px 10px;
  padding-left: 10px;
}

.messageSender {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 5px 0;
  margin-bottom: 5px;
  text-align: right;
  font-style: italic;
}

.messageSenderRight {
  text-align: left;
}
