.mainContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBoxContainer {
  width:  600px;
  height: 600px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}
